<<<<<<< HEAD
=======
// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ThreadIcon {
    display: flex;
    width: 13px;
    justify-content: center;
    flex: 0 0 auto;
}

.o_ThreadIcon_typing {
    flex: 1 1 auto;
}

>>>>>>> 57f59f2088c46f4603ff83bbcf2db42d705331fe
// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_ThreadIcon_online {
    color: $o-enterprise-primary-color;
}
