<<<<<<< HEAD
.o_kanban_project_tasks .oe_kanban_align.badge {
=======

.oe_kanban_project_avatars img {
    width: 30px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.openerp .oe_kanban_view .oe_kanban_project {
  width: 250px;
  min-height: 160px !important;
  cursor: default;
}

.openerp .oe_percent strong:after {
  content: "%";
}

.openerp .oe_margin_top_8 {
  margin-top: 8px;
}
.openerp .oe_kanban_project .oe_kanban_project_list .col-lg-6 a{
  margin-left: 5px;
}

/* Kanban status as label in project stage form view */
.openerp label.oe_project_kanban_legend {
  min-width: inherit !important;
  margin-top: 6px;
  margin-right: 8px;
}

.o_form_project_tasks.o_form_editable .oe_title {
  max-width: initial;
}

.o_form_project_tasks.o_form_editable .oe_title .o_task_name {
  /*
   * should be (coming from addons/web/static/src/scss/form_view.scss):
   * max-width: map-get($container-max-widths, md) - (2 * $o-horizontal-padding);
   */
  max-width: 688px;
  margin-right: auto;
}

.o_kanban_project_tasks .badge {
>>>>>>> 57f59f2088c46f4603ff83bbcf2db42d705331fe
  background: inherit;
  color: inherit;
  border: 1px solid var(--success);
}

.o_kanban_project_tasks .o_field_one2many_sub_task {
  margin-top:2px;
  margin-right: 6px;
}

.o_form_project_project  .o_setting_box {
  margin-left: 1.5rem;
}
