.o_DropZone {
<<<<<<< HEAD
    border: 2px dashed;
=======
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
>>>>>>> 57f59f2088c46f4603ff83bbcf2db42d705331fe
    z-index: 1;

    &.o-dragging-inside {
        border-width: 5px;
    }
}
