
.sale_label{
    font-size: 14px !important;
    font-weight: normal !important;
    float: left;
    height: 33px;
    line-height: 33px;
    margin-right: 5px;
}
.payment-line-container{
    height: 175px;
    margin-top: 7px;
    overflow: auto;
}
.o_quick_sale .form-inline .form-group {
    margin-bottom: 5px;
    width: 45%;
}
.execute, .destroy_order, .view_sale_orders{
    border-radius: 2px;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 30%;
    margin-top: 30px;
    text-align: center;
    width: 175px;
    margin: 10px auto;
}
.btn-success.btn-block.animate-button {
    background: rgba(0, 0, 0, 0) linear-gradient(to left, #7c7bad 50%, #000000 50%) repeat scroll right bottom / 200% 100%;
    margin: 10px auto;
    transition: all 0.5s ease 0s;
}
.custom_btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-success.btn-block.animate-button:hover {
    background-position: left bottom;
}
.o_quick_sale .form-inline .form-group input {
    border: 1px solid #999999;
    border-radius: 0;
    height: 35px;
    padding: 5px;
}
.o_quick_sale .form-inline .form-group input:focus {
    border: 1px solid #7c7bad;
    box-shadow: 0 0 3px 0 #7c7bad;
}

.search-product input{
    border: 1px solid #CBCBCB;
    border-radius: 0;
    height: 35px;
    padding: 5px;
}
.search-product input:focus{
    border: 1px solid #7c7bad;
    box-shadow: 0 0 3px 0 #7c7bad;
}
.chekcout-cart-item-collection {
    float: left;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    background: #fff;
    border: 1px solid #c6c6c6;
}
.cart-row-item {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: inline-block;
    padding: 12px 0 5px 10px;
    position: relative;
    width: 100%;
}
.cart-product-img {
    border: 1px solid #f3f3f3;
    float: left;
}
.cart-price {
    float: right;
    padding-right: 5px;
    text-align: right;
    width: 100px;
    position: absolute;
    right: 0px;
    top: 28px;
}

.cart-name {
    float: left;
    padding: 10px 7px 0;
}
.cart-name h3 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.cart-name p {
    font-size: 10px;
    padding: 2px 0;
}
.p-price {
    color: #7c7bad;
    float: right;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}
.ui-autocomplete.quick_so {
    max-height: 150px !important;
    height: auto;
    min-height:0px;
    width: 150px;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000 !important;
}
.sale-numpad .numpad{
    float: left;
    margin-top: -35px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.btn-operation{
    padding: 6px 37px;
}
.line_selected{
    background: rgba(140,143,183,0.2);
    -webkit-transition: background 250ms ease-in-out;
    -moz-transition: background 250ms ease-in-out;
    transition: background 250ms ease-in-out;
    cursor: default;
}
.empty-cart{
    text-align: center;
    margin: 48px;
    color: #DDD;
}
.empty-cart .fa{
    font-size: 54px;
}
.cart-content {
    display: none
}
.cart-row-item.active .cart-content {
    display: block
}
.cart-content .fr-control {
    float: left;
    list-style: outside none none;
    padding: 10px 15px 0;
    width: 100%;
}
.cart-content .fr-control > li {
    float: left;
    margin-bottom: 10px;
    width: 30%;
}
.txt_dropdown{
    position: relative;
    right: 25px;
    font-size: 18px;
    top: 3px;
}
.product-name{
    width: auto;
    max-width: 170px;
}