@include media-breakpoint-down(md) {
    img, .media_iframe_video, span.fa, i.fa {
        &:not(.o_animate) {
            transform: none !important;
        }
    }
}

.o_wysiwyg_loader {
    @extend :disabled;
    pointer-events: none;
    min-height: 100px;
    color: transparent;
}
.o_wysiwyg_loading {
    @include o-position-absolute($top: 50%, $left: 50%);
    transform: translate(-50%, -50%)
}

<<<<<<< HEAD
@include media-breakpoint-down(md) {
    .o_we_shape {
        display: none;
=======
.ui-autocomplete {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;

    .ui-menu-item {
        padding: 0;
        > .ui-state-active {
            border: none;
            font-weight: normal;
            margin: 0;
        }
    }
}

// Background shapes
.o_we_shape {
    @extend %o-we-background-layer;

    @each $module, $shapes in $o-bg-shapes {
        @each $shape, $style in $shapes {
            $url-params: '';
            $colors: map-get($style, 'colors');
            @each $i in $colors {
                // %23 is the url-encoded form of '#' which doesn't work as is in urls.
                $color: str-replace("#{map-get($o-color-palette, "o-color-#{$i}")}", '#', '%23');
                $url-params: '#{$url-params}&c#{$i}=#{$color}';
            }

            // eg: o_website_shape_bg_1
            &.o_#{$module}_#{str-replace($shape, '/', '_')} {
                // When not customized, this URL, built in SCSS, allows for the
                // shape to be dynamic and adapted if future color changes.
                background-image: url("/web_editor/shape/#{$module}/#{$shape}.svg?#{str-slice($url-params, 2)}");
                background-position: map-get($style, 'position');
                background-size: map-get($style, 'size');
                @if map-get($style, 'repeat-y') {
                    background-repeat: repeat-y;
                }
            }
        }
>>>>>>> 57f59f2088c46f4603ff83bbcf2db42d705331fe
    }
}
@include media-breakpoint-down(sm) {
    .o_we_shape {
        display: none;
    }
}
.o_we_flip_x {
    transform: scaleX(-1);
}
.o_we_flip_y {
    transform: scaleY(-1);
}
.o_we_flip_x.o_we_flip_y {
    transform: scale(-1);
}

// GRID LAYOUT
.o_grid_mode {
    @include media-breakpoint-up(lg) {
        display: grid !important;
        grid-auto-rows: 50px;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 0px;
        column-gap: 0px;
    }
    --gutter-x: 0px;
    --grid-item-padding-y: 10px;
    --grid-item-padding-x: 10px;

    > * {
        width: 100%;
        min-width: 0;
        margin: 0 !important;
        padding: var(--grid-item-padding-y) var(--grid-item-padding-x) !important;
    }
}

.container-fluid > .o_grid_mode {
    --gutter-x: 30px;
}

.o_grid_item_image {
    > img, > .media_iframe_video {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }

    &.o_grid_item_image_contain > img,
    > img[data-shape] {
        object-fit: contain !important;
    }
}

// Override the default image selection color used in "web_editor". This
// prevents selected images from being covered with a blue filter in edit mode
// (Website, Email Marketing). This allows to see the correct final rendering
// of an image when it is edited.
body.editor_enable:not(.o_basic_theme) .odoo-editor-editable {
    img::selection {
        background-color: transparent !important;
    }
}
