
.o_currency_rate_systray_dropdown_top button {
    margin: 5px 0px 5px 5px;
}

.o_currency_rate_systray_item .o_currency_rate_systray_dropdown {
  direction: ltr;
  width: 350px;
  padding: 0;
}

.o_currency_rate_systray_dropdown_item {
    border-top: #adb5bd 1px solid;
    padding: 5px;
    .o_preview_date{
        float: right;
        margin: auto;
    };
    .o_input_rate{
        display: inline-flex;
        margin: 10px 0px;
        .currency_title{
            display: inline-flex;
            width: 50%;
            margin: auto;
            span {
                left: -35px;
                position: relative;
                margin: auto;
            }
        };
        .usd_title{
            margin: auto;
        }
    };
}

.o_currency_rate_systray_dropdown_item:first-child {
  
}
@media (max-width: 915px) {
    .o_currency_rate_systray_item .o_currency_rate_systray_dropdown {
      position: inherit;
    }
}
