// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ChatterTopbar {
<<<<<<< HEAD
    min-height: $o-statusbar-height;
    box-sizing: content-box;

    @include media-breakpoint-down(md) {
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.o_ChatterTopbar_controllers {
    padding-left: var(--ChatterTopbar-padding-left, 0);
}

.o_ChatterTopbar_tools {
    padding-right: var(--ChatterTopbar-padding-right, 0);
    border-bottom: var(--ChatterTopbar-border);
}

.o_ChatterTopbar_borderLeft {
    border-left: var(--ChatterTopbar-border);
=======
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // We need the +1 to handle the status bar border-bottom.
    // The var is called `$o-statusbar-height`, but is used on button, therefore
    // doesn't include the border-bottom.
    // We use min-height to allow multiples buttons lines on mobile.
    min-height: $o-statusbar-height + 1;
}

.o_ChatterTopbar_actions {
    border-bottom: $border-width solid;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap-reverse; // reverse to ensure send buttons are directly above composer
>>>>>>> 57f59f2088c46f4603ff83bbcf2db42d705331fe
}

.o_ChatterTopbar_button {
    margin-bottom: var(--ChatterTopbar-padding-v, 0);
    margin-top: var(--ChatterTopbar-padding-v, 0);
}

.o_ChatterTopbar_buttonClose {
    width: $o-statusbar-height;
}
