<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
    <!-- Top menu item -->
    <menuitem id="eos_menu_root"
        name="EOS"
        web_icon="static/description/icon.png"
        sequence="-199"/>         


        <record id="eos_feature_action" model="ir.actions.act_window">
            <field name="name">Geometry storage</field>
            <field name="res_model">eos.feature</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Add a new feature!
              </p>
            </field>
        </record>    
    
        <!-- Features -->
        <menuitem id="feature_master_menu"
            name="Geometry storage"
            parent="eos_menu_root"
            action="eos_feature_action"
            sequence="1"/>


    <!-- Search -->
    <menuitem id="search_master_menu"
        name="Search"
        parent="eos_menu_root"
        action="eos_feature_action"
        sequence="2"/>   
        
    <!-- Data -->
    <menuitem id="data_master_menu"
        name="Data"
        parent="eos_menu_root"
        action="eos_feature_action"
        sequence="5"/>   
        
    <!-- Colorization -->
    <menuitem id="colorization_master_menu"
        name="Colorization"
        parent="eos_menu_root"
        action="eos_feature_action"
        sequence="6"/>      
        
    <!-- Weather -->
    <menuitem id="weather_master_menu"
        name="Weather"
        parent="eos_menu_root"
        action="eos_feature_action"
        sequence="7"/>      
        
    <!-- Tile -->
    <menuitem id="tile_master_menu"
        name="Tile"
        parent="eos_menu_root"
        action="eos_feature_action"
        sequence="10"/>      
        
    <!-- Configuration -->
    <menuitem id="config_master_menu"
        name="Configuration"
        parent="eos_menu_root"
        sequence="11"/>              
  </data>
</odoo>