.o_ChatterContainer {
<<<<<<< HEAD
    overflow: var(--ChatterContainer-overflow, auto);
    width: 100%;

    &.o-isInFormSheetBg {
        max-width: $o-form-view-sheet-max-width;
    }
=======
    display: flex;
    flex: 1 1 auto;
    width: map-get($sizes, 100);
}

.o_ChatterContainer_noChatter {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.o_ChatterContainer_noChatterIcon {
    margin-right: map-get($spacers, 2);
>>>>>>> 57f59f2088c46f4603ff83bbcf2db42d705331fe
}
