.analytic-account-dashboard-map svg.ct-chart-bar,
.analytic-account-dashboard-map svg.ct-chart-line {
    overflow: visible;
}

.analytic-account-dashboard-map .ct-label.ct-vertical.ct-start {
    color: black !important;
}

.analytic-account-dashboard-map .ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100%;
    color: black;
    transform: translate(-100%) rotate(-45deg);
    white-space: nowrap;
}




.analytic-account-dashboard-map .ct-series-e .ct-slice-pie {
    fill: #7b2138 !important;
}

.analytic-account-dashboard-map .ct-series-a .ct-bar,
.analytic-account-dashboard-map .ct-series-a .ct-line,
.analytic-account-dashboard-map .ct-series-a .ct-point,
.analytic-account-dashboard-map .ct-series-a .ct-slice-donut,
.analytic-account-dashboard-map .ct-series-a .ct-slice-pie {
    stroke: #009f9d !important;
}


.analytic-account-dashboard-map h4 {
    padding-left: 20px !important;
    padding-top: 10px !important;
}




.analytic-account-dashboard-map .users-list>li img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
}

.analytic-account-dashboard-map .badge-danger {
    width: 50px;
    height: 20px;
    color: #fff;
    background-color: #dc3545;
}

.analytic-account-dashboard-map .card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
}


.analytic-account-dashboard-map .card {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
}

.analytic-account-dashboard-map .card-title {
    float: left;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 4px;
}

.analytic-account-dashboard-map .col,
.analytic-account-dashboard-map .col-1,
.analytic-account-dashboard-map .col-10,
.analytic-account-dashboard-map .col-11,
.analytic-account-dashboard-map .col-12,
.analytic-account-dashboard-map .col-2,
.analytic-account-dashboard-map .col-3,
.analytic-account-dashboard-map .col-4,
.analytic-account-dashboard-map .col-5,
.analytic-account-dashboard-map .col-6,
.analytic-account-dashboard-map .col-7,
.analytic-account-dashboard-map .col-8,
.analytic-account-dashboard-map .col-9,
.analytic-account-dashboard-map .col-auto,
.analytic-account-dashboard-map .col-lg,
.analytic-account-dashboard-map .col-lg-1,
.analytic-account-dashboard-map .col-lg-10,
.analytic-account-dashboard-map .col-lg-11,
.analytic-account-dashboard-map .col-lg-12,
.analytic-account-dashboard-map .col-lg-2,
.analytic-account-dashboard-map .col-lg-3,
.analytic-account-dashboard-map .col-lg-4,
.analytic-account-dashboard-map .col-lg-5,
.analytic-account-dashboard-map .col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}


.analytic-account-dashboard-map .card-header {
    background-color:
        transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}


.analytic-account-dashboard-map .fa:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.analytic-account-dashboard-map .card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
}

.analytic-account-dashboard-map .right {
    float: left;
}

.analytic-account-dashboard-map .tooltip:hover .tooltiptext {
    visibility: visible;
}


.analytic-account-dashboard-map .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.analytic-account-dashboard-map .fa-cog {
    content: "\f013"
}

.analytic-account-dashboard-map .fa,
.fas {
    font-weight: 900;
}

.analytic-account-dashboard-map .fa,
.analytic-account-dashboard-map .fab,
.analytic-account-dashboard-map .fad,
.analytic-account-dashboard-map .fal,
.analytic-account-dashboard-map .far,
.analytic-account-dashboard-map .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.analytic-account-dashboard-map .info-box .info-box-icon {

    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.analytic-account-dashboard-map .info-box {


    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: .25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
}

.analytic-account-dashboard-map .o_datepicker .o_datepicker_input {
    width: 100%;
    cursor: pointer;
}

.analytic-account-dashboard-map #overdue {
    width: 100%;
    cursor: pointer;
}

.analytic-account-dashboard-map .o_input {
    border: 1px solid #cfcfcf;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}


.analytic-account-dashboard-map .in_graph {
    padding-left: 90px;
    height: auto;
    padding-bottom: 65px;
    text-align: center !important;
}


.analytic-account-dashboard-map .oh_dashboards {
    padding-top: 15px;
    background-color: #f8faff !important;
}

.analytic-account-dashboard-map .container-fluid.o_in_dashboard {
    padding: 0px !important;
}

.analytic-account-dashboard-map .o_action_manager {
    overflow-y: scroll !important;
    max-width: 100%;
}

// new tile

body {
    background-color: #ececec;
}

.analytic-account-dashboard-map .container {
    margin: 50px 0 0 100px;
}

.analytic-account-dashboard-map .o_dashboards {
    color: #2a2a2a;
    background-color: #f2f2f2 !important;
}

.analytic-account-dashboard-map .dash-header {

    margin: 15px 0px 12px 0 !important;
    display: block;
    padding: 5px 20px 5px 20px;
    color: #0e1319;
    font-size: 2rem;
    font-weight: 400;
    background-color:
        rgba(255, 255, 255, 0.9) !important;
    color: #212529;
    border-radius: 3px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.analytic-account-dashboard-map .dashboard-h1 {

    display: block;
    padding: 7px 25px 7px 0;
    color: #0e1319;
    font-size: 2rem;
    font-weight: 400;
    color:

        #212529;
    float: left;
    margin-bottom: 0;

}

.analytic-account-dashboard-map .card {
    position: relative !important;
    border-top: 0 !important;
    margin-bottom: 30px !important;
    width: 100% !important;
    background-color: #ffffff !important;
    border-radius: 0.25rem !important;
    padding: 0px !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
    border-radius: 0.25rem;
}

.analytic-account-dashboard-map .card-header {
    border: 0;
    padding: 0;
}

.analytic-account-dashboard-map .card-header>.card-tools {
    float: right;
    margin-right: 0.375rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.analytic-account-dashboard-map .card-header i.fa {
    font-size: 1.3rem;
    display: inline-block;
    padding: 0 0px;
    margin: 0 0px;
    color: #57769c;
    opacity: .8;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.analytic-account-dashboard-map .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: #7891af;
}

.analytic-account-dashboard-map .account-details {
    display: flex;
    justify-content: space-evenly;
}

.main-title {
    color: #a3a3a3;
    display: block;
    font-size: 20px;
    font-weight: 400;
}

.analytic-account-dashboard-map .main-title {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #fff !important;
    padding: 0.8rem;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.analytic-account-dashboard-map .card-body {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #212529;
    padding-top: 0;
}

.analytic-account-dashboard-map .tile.wide.invoice {
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0);
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    width: 100%;
    padding: 0rem 0rem;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.analytic-account-dashboard-map .box-1 .main-title {
    background: #69ce6d;
    color: #fff;
}

.analytic-account-dashboard-map .box-2 .main-title {
    background: #3298f2 !important;
    color: #fff;
}

.analytic-account-dashboard-map .box-3 .main-title {
    background: #ec6633;
    color: #fff;
}

.analytic-account-dashboard-map .box-4 .main-title {
    background: #b060f7;
    color: #fff;
}

.analytic-account-dashboard-map .count {
    margin-bottom: 1rem;
}

.analytic-account-dashboard-map span#total_invoices_ span,
.analytic-account-dashboard-map span#total_invoices_last span,
.analytic-account-dashboard-map span#total_incomes_ span,
.analytic-account-dashboard-map span#total_incomes_last span,
.analytic-account-dashboard-map span#total_expenses_ span,
.analytic-account-dashboard-map span#total_expense_last span,
.analytic-account-dashboard-map span#unreconciled_items_ span,
.analytic-account-dashboard-map span#unreconciled_items_last span,
.analytic-account-dashboard-map span#unreconciled_counts_last_year span,
.analytic-account-dashboard-map span#unreconciled_counts_this_year span,
.analytic-account-dashboard-map span#total_expense_last_year span,
.analytic-account-dashboard-map span#total_expense_this_year span,
.analytic-account-dashboard-map span#total_incomes_last_year span,
.analytic-account-dashboard-map span#total_incomes_this_year span,
.analytic-account-dashboard-map span#total_invoices_last_year span,
.analytic-account-dashboard-map span#total_invoices_this_year span,
.analytic-account-dashboard-map span#net_profit_current_months span,
.analytic-account-dashboard-map span#net_profit_current_year span {
    padding-right: 8px;
    font-size: 16px;
    font-weight: 600;
}

.analytic-account-dashboard-map span#total_invoices_,
.analytic-account-dashboard-map span#total_invoices_last,
.analytic-account-dashboard-map span#total_incomes_,
.analytic-account-dashboard-map span#total_incomes_last,
.analytic-account-dashboard-map span#total_expenses_,
.analytic-account-dashboard-map span#total_expense_last,
.analytic-account-dashboard-map span#unreconciled_items_,
.analytic-account-dashboard-map span#unreconciled_items_last,
.analytic-account-dashboard-map span#unreconciled_counts_last_year,
.analytic-account-dashboard-map span#unreconciled_counts_this_year,
.analytic-account-dashboard-map span#total_expense_last_year,
.analytic-account-dashboard-map span#total_expense_this_year,
.analytic-account-dashboard-map span#total_incomes_last_year,
.analytic-account-dashboard-map span#total_incomes_this_year,
.analytic-account-dashboard-map span#total_invoices_last_year,
.analytic-account-dashboard-map span#total_invoices_this_year,
.analytic-account-dashboard-map span#net_profit_current_months,
.analytic-account-dashboard-map span#net_profit_current_year {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    color: #455e7b !important;
}

.analytic-account-dashboard-map .main-title~div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
}

.analytic-account-dashboard-map .card-header {
    color: #0e1319 !important;
    display: block !important;
    padding: 0.8rem 0.8rem !important;
    position: relative !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.analytic-account-dashboard-map .card-header i.fa {
    font-size: 1rem;
    display: inline-block;
    padding: 0 0px;
    margin: 0 0px;
    color: #57769c;
    opacity: .8;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.analytic-account-dashboard-map .card-header>.card-tools {
    float: right;
    margin-right: 0;
    margin-top: 0px !important;
    margin-bottom: 0;
}

.analytic-account-dashboard-map .card-tools .btn {
    padding: 0 10px;
    margin: 0;
    line-height: normal !important;
}

.analytic-account-dashboard-map .ct-series-a .ct-bar,
.analytic-account-dashboard-map .ct-series-a .ct-line,
.analytic-account-dashboard-map .ct-series-a .ct-point,
.analytic-account-dashboard-map .ct-series-a .ct-slice-donut,
.analytic-account-dashboard-map .ct-series-a .ct-slice-pie {
    stroke: rgb(132, 60, 247) !important;
}

.analytic-account-dashboard-map canvas#salesChart,
.analytic-account-dashboard-map canvas#exChart {
    display: none;
}

.analytic-account-dashboard-map ul#overdues li,
.analytic-account-dashboard-map ul#latebills li {
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    color: #455e7b !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
}

.analytic-account-dashboard-map ul#overdues,
.analytic-account-dashboard-map ul#latebills {
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.analytic-account-dashboard-map ul#overdues li a,
.analytic-account-dashboard-map ul#latebills li a {
    color: #455e7b !important;
}

.analytic-account-dashboard-map .badge-danger {
    width: auto;
    height: 20px;
    color: #fff;
    background-color: #843cf7 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytic-account-dashboard-map .ct-label {
    fill: rgba(0, 0, 0, .4);
    color: rgba(0, 0, 0, .4);
    font-size: 1.1rem !important;
    line-height: 1;
    font-weight: 600;
}

.analytic-account-dashboard-map .ct-label {
    fill: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
}

.analytic-account-dashboard-map .chart {
    .ct-legend {
        position: relative;
        z-index: 10;

        li {
            position: relative;
            padding-left: 23px;
            margin-bottom: 3px;
        }

        li:before {
            width: 12px;
            height: 12px;
            position: absolute;
            left: 0;
            content: '';
            border: 3px solid transparent;
            border-radius: 2px;
        }

        li.inactive:before {
            background: transparent;
        }

        &.ct-legend-inside {
            position: absolute;
            top: 0;
            right: 0;
        }

        //     @for $i from 0 to length($ct-series) {
        //         .ct-series-#{$i}:before {
        //             background-color: nth($ct-series, $i + 1);
        //             border-color: nth($ct-series, $i + 1);
        //         }
        //     }
    }
}

.analytic-account-dashboard-map #chartdiv {
    width: 100%;
    height: 400px;
}

.analytic-account-dashboard-map #chartdiv_ex {
    width: 100%;
    height: 500px;
}

.analytic-account-dashboard-map #barChart {
    display: block;
    width: 595px;
    height: 396px;
    // pointer-events: none;

}

.analytic-account-dashboard-map .canvas-con {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 365px;
    position: relative;
}

/*p {
  position: relative;
  left: 194px;
  margin-top: 64px;
}*/

.analytic-account-dashboard-map .canvas-con-inner {
    height: 100%;
}

.analytic-account-dashboard-map .canvas-con-inner,
.legend-con {
    display: inline-block;
}

.analytic-account-dashboard-map .legend-con {
    font-family: Roboto;
    display: inline-block;

    ul {
        list-style: none;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        span {
            display: inline-block;
        }

        span.chart-legend {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    }
}

html,
body {
    margin: 0;
}

.analytic-account-dashboard-map #canvas {
    height: 277px !important;
    width: 100% !important;
}

.analytic-account-dashboard-map #net_profit_this_year .title {
    float: left;
}

.analytic-account-dashboard-map #net_profit_this_year {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .3rem;
    background: #843cf7;
    color: #fff;
    border-radius: 10px;
    width: auto !important;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: none !important;
}

.analytic-account-dashboard-map #net_profit_last_year .title {
    float: left;
}

.analytic-account-dashboard-map #net_profit_last_year {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .3rem;
    background:
        #843cf7;
    color:
        #fff;
    border-radius: 10px;
    width: auto !important;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.analytic-account-dashboard-map #net_profit_last_month .title {
    float: left;
}

.analytic-account-dashboard-map #net_profit_last_month {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .3rem;
    background:
        #843cf7;
    color:
        #fff;
    border-radius: 10px;
    width: auto !important;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.analytic-account-dashboard-map #net_profit_this_months .title {
    float: left;
}

.analytic-account-dashboard-map #net_profit_this_months {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .3rem;
    background:
        #843cf7;
    color:
        #fff;
    border-radius: 10px;
    width: auto !important;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
}



.analytic-account-dashboard-map #col-graph .card {
    height: 366px;
}

.analytic-account-dashboard-map #top_10_customers {
    padding: 0;
}

.analytic-account-dashboard-map #top_10_customers li {
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    color: #455e7b !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.analytic-account-dashboard-map #top_10_customers li a {
    color:
        #455e7b !important;
}

.analytic-account-dashboard-map #top_10_customers_this_month {
    padding: 0;
}

.analytic-account-dashboard-map #top_10_customers_this_month li {
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    color: #455e7b !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.analytic-account-dashboard-map #top_10_customers_this_month li a {
    color:
        #455e7b !important;
}

.analytic-account-dashboard-map #top_10_customers_last_month {
    padding: 0;
}

.analytic-account-dashboard-map #top_10_customers_last_month li {
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    color: #455e7b !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.analytic-account-dashboard-map #top_10_customers_last_month li a {
    color:
        #455e7b !important;
}

.analytic-account-dashboard-map #current_bank_balance {
    padding: 0;
}

.analytic-account-dashboard-map #current_bank_balance li {

    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    color: #455e7b !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;

}

.analytic-account-dashboard-map #current_bank_balance li a {
    color:
        #455e7b !important;
}

.analytic-account-dashboard-map #current_cash_balance {
    padding: 0;
}

.analytic-account-dashboard-map #current_cash_balance li {
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    color: #455e7b !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.analytic-account-dashboard-map #current_cash_balance li a {
    color: #455e7b !important;

}


.analytic-account-dashboard-map .custom-h1 {
    font-size: 1em;
    margin-bottom: 0rem;
}

.analytic-account-dashboard-map .custom-h3 {
    font-size: 1em;
    margin: 0;
}

// Progress Bars
.analytic-account-dashboard-map progress,
.analytic-account-dashboard-map progress[role] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    height: 20px;
    width: 100%;
    background-color: #8067dc;
}

// The unordered list
.analytic-account-dashboard-map .skill-list {
    list-style: none;
    margin: 0;
    padding: 1em;
}

// The list item
.analytic-account-dashboard-map .skill {
    margin-bottom: 1em;
    position: relative;

    h3 {
        color: #000;
        left: 1em;
        line-height: 1;
        position: absolute;
        top: 1em;
    }

    ::-webkit-progress-value {
        -webkit-animation: bar-fill 2s;
        width: 0px;
    }
}

// Style the bar colors
.analytic-account-dashboard-map .skill-1::-webkit-progress-value {
    background: #c767dc;
}

.analytic-account-dashboard-map .skill-1::-moz-progress-bar {
    background: #c767dc;
}

// Animation Keyframes
@-webkit-keyframes bar-fill {
    0% {
        width: 0;
    }
}

@keyframes bar-fill {
    0% {
        width: 0;
    }
}

.analytic-account-dashboard-map #total_supplier_invoice {
    color: #696969;
}

.analytic-account-dashboard-map #total_customer_invoice_names {
    color: #696969;
}

.analytic-account-dashboard-map #total_customer_invoice {
    color: #696969;
}

.analytic-account-dashboard-map #total_invoice_difference,
.analytic-account-dashboard-map #total_supplier_difference {
    color: #4ecdc4;
}

progress {
    border: 0;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    border: 0;
    border-radius: 20px;
}

progress::-webkit-progress-value {
    border: 0;
    border-radius: 20px;
}

progress::-moz-progress-bar {
    border: 0;
    border-radius: 20px;
}

.analytic-account-dashboard-map #total_customer_invoice_paid .logo,
.analytic-account-dashboard-map #total_customer_invoice .logo,
.analytic-account-dashboard-map #total_supplier_invoice_paid .logo,
.analytic-account-dashboard-map #total_supplier_invoice .logo,
.analytic-account-dashboard-map #total_customer_invoice_paid_current_year .logo,
.analytic-account-dashboard-map #total_customer_invoice_current_year .logo,
.analytic-account-dashboard-map #total_supplier_invoice_paid_current_year .logo,
.analytic-account-dashboard-map #total_supplier_invoice_current_year .logo,
.analytic-account-dashboard-map #total_customer_invoice_paid_current_month .logo,
.analytic-account-dashboard-map #total_customer_invoice_current_month .logo,
.analytic-account-dashboard-map #total_supplier_invoice_paid_current_month .logo,
.analytic-account-dashboard-map #total_supplier_invoice_current_month .logo {

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: left;
    flex-direction: column-reverse;
    color: #455e7b !important;

}

.analytic-account-dashboard-map #total_customer_invoice_paid .logo span:nth-child(2),
.analytic-account-dashboard-map #total_customer_invoice .logo span:nth-child(2),
.analytic-account-dashboard-map #total_supplier_invoice_paid .logo span:nth-child(2),
.analytic-account-dashboard-map #total_supplier_invoice .logo span:nth-child(2),
.analytic-account-dashboard-map #total_customer_invoice_paid_current_year .logo span:nth-child(2),
.analytic-account-dashboard-map #total_customer_invoice_current_year .logo span:nth-child(2),
.analytic-account-dashboard-map #total_supplier_invoice_paid_current_year .logo span:nth-child(2),
.analytic-account-dashboard-map #total_supplier_invoice_current_year .logo span:nth-child(2),
.analytic-account-dashboard-map #total_customer_invoice_paid_current_month .logo span:nth-child(2),
.analytic-account-dashboard-map #total_customer_invoice_current_month .logo span:nth-child(2),
.analytic-account-dashboard-map #total_supplier_invoice_paid_current_month .logo span:nth-child(2),
.analytic-account-dashboard-map #total_supplier_invoice_current_month .logo span:nth-child(2) {

    font-weight: 600;

}

.analytic-account-dashboard-map .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.analytic-account-dashboard-map .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.analytic-account-dashboard-map .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.analytic-account-dashboard-map .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.analytic-account-dashboard-map input:checked+.slider {
    background-color: #2196F3;
}

.analytic-account-dashboard-map input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.analytic-account-dashboard-map input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.analytic-account-dashboard-map .slider.round {
    border-radius: 34px;
}

.analytic-account-dashboard-map .slider.round:before {
    border-radius: 50%;
}

.analytic-account-dashboard-map .btn-primary {

    color: #FFFFFF;
    background-color: #7C7BAD;
    border-color: #7C7BAD;

}

.analytic-account-dashboard-map .toggle-on.btn {

    padding-right: 18px !important;
    right: 50%;


}

.analytic-account-dashboard-map .toggle.btn.btn-default.off {

    border: 1px solid #aaa;

    background: #fff;
    font-weight: 600 !important;

}

.analytic-account-dashboard-map .toggle-off.btn {

    padding-left: 9px !important;

}

.analytic-account-dashboard-map .toggle {

    width: 160px !important;
    height: auto !important;

}

html .o_web_client>.o_action_manager {
    overflow: auto !important;
}

.analytic-account-dashboard-map .selectWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 2px;
    background:#FFFFFF url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;
}

.analytic-account-dashboard-map .selectWrapper select {
        padding: 5px 30px 5px 10px;
        font-size: 16px;
        line-height: 16px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: ellipsis;
}